# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/

# Environments
.venv/
venv/
ENV/
env/

# Nested duplicate folder
cube/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs & Environment
*.log
.env
.env.local
.env.*.local
